{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- Bootstrap 4 css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- css -->
    {{ encore_entry_link_tags('base') }}
    {{ encore_entry_link_tags('market_place_product_detail') }}
{% endblock %}
{% block containt %}
    <div class="container">
        <div class="card">
            <div class="row">
                <aside class="col-sm-5 border-right">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div> <a href="#"><img src="{{ product.images }}"></a></div>
                        </div> <!-- slider-product.// -->
                        <div class="img-small-wrap">
                            <div class="item-gallery"> <img src="{{ product.images }}"> </div>
                            <div class="item-gallery"> <img src="{{ product.images }}"> </div>
                            <div class="item-gallery"> <img src="{{ product.images }}"> </div>
                            <div class="item-gallery"> <img src="{{ product.images }}"> </div>
                        </div> <!-- slider-nav.// -->
                    </article> <!-- gallery-wrap .end// -->
                </aside>
                <aside class="col-sm-7">
                    <article class="card-body p-5">
                        <h3 class="title mb-3"> {{ product.name }}</h3>

                        <p class="price-detail-wrap">
                            <span class="price h3 text-warning">
                                <span class="currency"></span><span class="num">{{ product.price }}</span> Euro
                            </span>
                        </p> <!-- price-detail-wrap .// -->
                        <dl class="item-property">
                            <dt>Description</dt>
                            <dd><p>{{ product.description }}</p></dd>
                        </dl>
                        <dl class="param param-feature">
                            <dt>Delivery</dt>
                            <dd>Germany</dd>
                        </dl>  <!-- item-property-hor .// -->

                        <hr>
                        <form method="get" action="{{ path('add_product_to_cart', {'id':product.id, 'quantity': quantity})  }}">
                            <div class="row">
                                <div class="col-sm-5">
                                    <dl class="param param-inline">
                                        <dt>Quantity: </dt>
                                        <dd>
                                                <input type="text" class="form-control"  name="quantity" value="{{ quantity }}"/>

                                        </dd>
                                    </dl>  <!-- item-property .// -->
                                </div> <!-- col.// -->
                                <div class="col-sm-7">
                                    <dl class="param param-inline">
                                        <dt>Available: </dt>
                                        <dd> {{ product.quantity }} </dd>
                                    </dl>  <!-- item-property .// -->
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr>
                            <button class="btn btn-primary" type="submit" > <i class="glyphicon glyphicon-plus"> Add to cart </i></button>
                        </form>
                    </article> <!-- card-body.// -->
                </aside> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </div>

{% endblock %}
{% block javascripts %}
    <!-- Bootstrap 4 js.File -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}