{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- Bootstrap 4 css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- css for cart -->
    {{ encore_entry_link_tags('marketPlace') }}
{% endblock %}
{% block containt %}
    <div class="container-fluid " style="margin-top: 3%">
        <div class="row">
            <div class="col-6 col-md-3">
                <form class="container mr-10" name="apply_filter", action="{{ path('apply_filter') }}">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <div class="form-group">
                        <label for="myInput">Information:</label>
                        <input class="form-control" id="myInput" type="text" name="information" placeholder="product/category/description...">
                    </div>
                    <div data-role="rangeslider"><br/>
                        <label for="defaultRange "><h4>Price</h4></label><br/>
                        <label for="myInput">From:</label>
                        <input class="form-control" id="myInput" type="number" step="0.1" min="0.0" name="priceFrom" placeholder="0.0">
                        <label for="myInput">To:</label>
                        <input class="form-control" id="myInput" type="number" step="0.1" min="0.0" name="priceTo" placeholder="0.0">
                    </div>
                    <br/>
                    <input class="btn btn-primary" type="submit" value="Apply" />
                    <a href="{{ path('reset_page', {page:"marketplace"}) }}" class="btn btn-primary bg-secondary " data-abc="true"> reset </a>
                </form>
            </div>
            <div class="col-12 col-md-8">
                {% set first_index = 0 %}
                {% set last_index = 2 %}
                {% for i in 1..rowCount %}
                    <div class="row align-items-start">
                        {% if last_index < products|length %}
                            {% for val in first_index..last_index %}
                                <div class="col">
                                    <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="{{ products[val].images }}"></a>
                                        <figcaption class="info-wrap">
                                            <div class="row">
                                                <div class="col-md-8"> <a href="#" class="title" data-abc="true"> {{ products[val].name }}</a> </div>
                                                <div class="col-md-4">
                                                    <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                        <div class="bottom-wrap"> <a href="{{ path('product_detail', {id:products[val].id}) }}" class="btn btn-primary float-right" data-abc="true"> show More </a>
                                            <div class="price-wrap"> <span class="price h5">${{ products[val].price }}</span> <br> <small class="text-success">Free shipping</small> </div>
                                        </div>
                                    </figure>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% set first_index= last_index + 1  %}
                        {% set last_index= last_index + 3  %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- Bootstrap 4 js.File -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}