{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- Bootstrap 4 css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- css -->
    {{ encore_entry_link_tags('base') }}
    {{ encore_entry_link_tags('car') }}
{% endblock %}
{% block containt %}
    <div class="container-fluid " style="margin-top: 3%">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} text-center">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row">
            <div class="col-6 col-md-3 ">
                <form class="container mr-10" name="filter_car", action="{{ path('apply_filter') }}">
                    <div class="form-group">
                        <label for="myInput">Information:</label>
                        <input class="form-control" id="myInput" type="text" name="information" placeholder="product/category/description...">
                    </div>
                    <div class="form-group">
                        <label for="myInput">Quantity:</label>
                        <input class="form-control" id="myInput" type="number" name="quantity" min="0" placeholder="0" value="0">
                    </div>
                    <br/>
                    <input class="btn btn-primary" type="submit" value="Apply" />
                    <a href="{{ path('reset_page', {page:"cart"}) }}" class="btn btn-primary bg-secondary " data-abc="true"> reset </a>
                </form>
            </div>
            <div class="col-12 col-md-8">
                <div class="main-box clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                            <tr>
                                <th><span>Product</span></th>
                                <th><span>Quantity</span></th>
                                <th class="text-center"><span>Price</span></th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for car in open_car %}
                                    <tr>
                                        <td>
                                            <img src="{{car.product.images }}" alt="">
                                            <a href="#" class="user-link">{{car.product.name }}</a>
                                            <span class="user-subhead">{{ car.product.category.name }}</span>
                                        </td>
                                        <td style="width: 28%;">
                                            <input type="text" name="quantity" value="{{ car.quantity }}" disabled />
                                            <a href="{{ path('update_car_add_one', {'id': car.id, 'quantity': car.quantity }) }}" class="table-link">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-plus-square fa-stack-1x fa-inverse"></i>
                                            </span>
                                            </a>
                                            <a href="{{ path('update_car_remove_one', {'id': car.id, 'quantity': car.quantity }) }}" class="table-link">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-minus-square fa-stack-1x fa-inverse"></i>
                                            </span>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <span class="label label-default">{{car.price}}</span> Euro
                                        </td>
                                        <td style="width: 10%;">
                                            <a href="{{ path('remove_Product_car', {'id':car.id}) }}" class="table-link danger">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                       <div class="row">
                           <div class="col-sm-8">

                           </div>
                           <div class="col-sm-4">
                                <h1> Total:</h1>
                           </div>
                       </div>
                    </div>
                    <div class="col-sm-2">
                       <h4> {{ bil }}</h4>
                    </div>
                    <div class="col-sm-2">
                        <a href="#" class="button button-success">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-shopping-cart fa-stack-1x fa-inverse" aria-hidden="true"></i>
                            </span>
                        </a>
                        <a href="{{ path('car_export') }}" class="button button-success">
                            <span class="fa-stack">
                                Export
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- Bootstrap 4 js.File -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}