{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}

{% block body %}
   {% if error %}
      <div class="row justify-content-center">
         <div class="text-danger font-weight-normal">
            {{ error.messageKey| trans(error.messageData, 'security') }}
         </div>
      </div>
   {% endif %}
   <div class="d-flex justify-content-center align-items-center container" >
      <div class="row" style="margin-top: 15%">
         <div class="form-signin">
            <form  method="post" name="login">
               <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
               <label for="inputEmail" class="sr-only">Email address</label>
               <input type="email" id="inputEmail" name="_email" class="form-control" placeholder="Email address" required autofocus/>
               <label for="inputPassword" class="sr-only">Password</label>
               <input type="password" id="inputPassword" name="_password" class="form-control mt-4" placeholder="Password" required/>
               <div class="checkbox" >
                  <label>
                      <input type="checkbox" name="_remember_me" checked  />
                     Remember me
                  </label>
               </div>
               <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
               <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Sign in</button>
               <div class="container">
                  <div class="row justify-content-center">
                     <div class="col-3 text-center">
                        <a  class="text-center" href="{{ path('register') }}"> Register</a>
                     </div>
                  </div>
               </div>
               <p class="mt-5 mb-3 text-muted">&copy;2020-2020</p>
            </form>
      </div>
   </div>
{% endblock %}