{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}

{% block body %}
   <div class="row justify-content-center">
      {% for label, messages in app.flashes %}
         {% for message in messages %}
            <div class="alert alert-{{ label }}">
               {{ message }}
            </div>
         {% endfor %}
      {% endfor %}
   </div>
   <div class="d-flex justify-content-center align-items-center container">
      <div class="row">
         <div class="col">
            <form method="post" name="register" action="{{ path('register') }}">
               <h2 class="text-center">Register</h2>
               <p class="hint-text text-center">Create your account. It's free and only takes a minute.</p>
               <div class="form-group">
                  <div class="col-xs-6"><input type="text" class="form-control" name="_name" placeholder="User Name" required autofocus></div>
               </div>
               <div class="form-group">
                  <input type="email" class="form-control" name="_email" placeholder="Email" required>
               </div>
               <div class="form-group">
                  <input type="password" class="form-control" name="_password" placeholder="Password" required>
               </div>
               <div class="form-group">
                  <input type="password" class="form-control" name="_password" placeholder="Confirm Password" required>
               </div>
               <div class="form-group">
                  <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
               </div>
               <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Register Now</button>
               </div>
               <div class="row justify-content-center">
                  All ready have a count &nbsp;  <a  class="text-center" href="{{ path('login') }}"> Login</a>
               </div>
            </form>

         </div>
      </div>
   </div>
{% endblock %}