<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Shopping Car{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap 4 css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% endblock %}
</head>
<body>
{% block body %}
    {% block nav_bar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
            <div class="container-fluid">
                {% if is_granted('ROLE_ADMIN') %}
                    <!-- Links -->
                    <ul class="navbar-nav navbar-left" style="float: left;">
                        <li>
                            <a class="navbar-brand" href="/">Schop me Admin Panel!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('admin_categories') }}">Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('admin_products') }}">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Commands</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Car</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-right ">
                        <!-- Dropdown -->
                            <li class="dropdown order-1">
                                <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle text-white">Users <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right mt-2">
                                    <li>
                                        <a class="dropdown-item" href="#">{{ is_granted('ROLE_USER') }} </a>
                                        <a class="dropdown-item" href="#">Neue Benutzer</a>
                                        <a class="dropdown-item" href="#">Link 1</a>
                                        <a class="dropdown-item" href="#">Link 2</a>
                                    </li>
                                    <li class="px-3 py-2">
                                        <form class="form" method="post" name ="logout" >
                                            <div class="form-groupe">
                                                <input type="password" class="form-control invisible " id="exampleInputPassword1" placeholder="Password" name="logout[password]"/>
                                            </div>
                                            <div class="form-group">
                                                <a class="btn btn-primary btn-block" href="{{ path('logout') }}"> Logout </a>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav navbar-left" style="float: left;">
                        <li>
                            <!-- Brand -->
                            <a class="navbar-brand" href="/">Schop me!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link 2</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-right ">
                        <li class="navbar-item">
                                <div>
                                    <a href ="{{path('car')}}" class="nav-link font-weight-bold text-white " id="cart">
                                        <i class="fa fa-shopping-cart text-white "></i> Car
                                        <span class="badge text-white ">
                                            {{car_value}}
                                        </span></a>
                                </div>
                        </li>
                        <li class="navbar-item">
                            <div>
                                <a class="nav-link font-weight-bold text-white " href="{{ path('logout') }}">
                                    <i class="fa fa-user  text-white "></i> Logout </a>
                            </div>
                        </li>
                        <!-- Dropdown -->
                        {#<li class="dropdown order-1">
                            <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle text-white">Users <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right mt-2">
                                <li>
                                    <a class="dropdown-item" href="#">{{ is_granted('ROLE_USER') }} </a>
                                    <a class="dropdown-item" href="#">Neue Benutzer</a>
                                    <a class="dropdown-item" href="#">Link 1</a>
                                    <a class="dropdown-item" href="#">Link 2</a>
                                </li>
                                <li class="px-3 py-2">
                                    <form class="form" method="post" name ="logout" >
                                        <div class="form-groupe">
                                            <input type="password" class="form-control invisible " id="exampleInputPassword1" placeholder="Password" name="logout[password]"/>
                                        </div>
                                        <div class="form-group">
                                            <a class="btn btn-primary btn-block" href="{{ path('logout') }}"> Logout </a>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </li>#}
                    </ul>
                {% endif %}
                <!--end navbar-right -->
            </div>
        </nav>
    {% endblock %}
    {% block containt %}{% endblock %}
{% endblock %}
{% block javascripts %}
    <!-- Bootstrap 4 js.File -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>