{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- Bootstrap 4 css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- css -->
    {{ encore_entry_link_tags('base') }}
    {{ encore_entry_link_tags('car') }}
{% endblock %}
{% block containt %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                            <tr>
                                <th style="width: 15px"><span>Identification</span></th>
                                <th><span>Name</span></th>
                                <th><span>Description</span></th>
                                <th><span>Create at</span></th>
                                <th style="width: 15px"><span>Available</span></th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for category in categories %}
                                <tr>
                                    <td>{{ category.id }}</td>
                                    <td>{{ category.name }}</td>
                                    <td>{{ category.description }}</td>
                                    <td>{{ category.created |date('d/m/y h:m:s') }}</td>
                                    <td>{{ category.available }}</td>
                                    <td style="width: 10%;">
                                        <a href="{{ path('admin_categories_update_set_inactive', {id:category.id}) }}" class="table-link danger">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a href="{{ path('admin_categories_update', {id:category.id}) }}" class="table-link success">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto mr-auto"></div>
                    <div class="col-auto">
                        <a class="glyphicon glyphicon-plus btn btn-info btn-lg " href="{{ path('admin_add_category') }}"> Plus </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}