{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- Bootstrap 4 css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- css -->
    {{ encore_entry_link_tags('base') }}
{% endblock %}
{% block containt %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {{ form(category_form) }}
            </div>
        </div>
{% endblock %}
{% block javascripts %}
    <!-- Bootstrap 4 js.File -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}