{# templates/emails/registration.html.twig #}
<h3> Thank you for visiting our shop!</h3>

Dir Customer  {{ app.user.name }}!

your car will sending as attachment of this Email.
you make the good choice

see you soon!
Thanks!
